<legend>User Information</legend>
<div>
    <div class="form-group row">
        <p class="col-xs-6">GUID:</p>
        <p class="col-xs-6 ml-4"><strong>{{user.guid}}</strong></p>
    </div>

    <div class="form-group row">
        <p class="col-xs-6">Customer UID:</p>
        <p class="col-xs-6 ml-4"><strong>{{user.customerUid}}</strong></p>
    </div>

    <div class="form-group row">
        <p class="col-xs-6">Name:</p>
        <p class="col-xs-6 ml-4"><strong>{{user.name}}</strong></p>
    </div>

    <div class="form-group row">
        <p class="col-xs-6">Email:</p>
        <p class="col-xs-6 ml-4"><strong>{{user.email}}</strong></p>
    </div>

    <div class="form-group row">
        <p class="col-xs-6">Zip Code:</p>
        <p class="col-xs-6 ml-4"><strong>{{user.zipcode}}</strong></p>
    </div>

</div>